body{
    display:                flex;
    justify-content:        center;
    align-items:            center;
    height:                 100vh;
    margin:                 0;
}

.contenedorGrid{
    display:                grid;
    grid-template-columns:  1fr;
    grid-template-rows:     1fr;
}

/*
justify-content:            center;
place-items:                center;
*/

.nested-grid{
/*    border:                 2px rgb(247, 0, 0) solid;*/
    display:                grid;
    grid-template-columns:  1fr;
    margin:                 10px 0px 10px 0px;
}

.estructuraForm{
    background:             #24303c; 
    width:                  500px;
    height:                 200px;
    padding:                10px;
    margin:                 0;
    margin-top:             20px;
    border-radius:          4px;
    color:                  white ;
    box-shadow:             7px 13px 37px #000; /*SOMBRA*/
}/*FIN DE registro*/

h4{
    font-family:            'calibri';
    color:                  white;    
    font-size:              30px;
    margin:                 5px 0 15px 0px;
}/*FIN DE H4*/

#inputDatos{
    width:                  98%; 
    background-color:       24303c;
    padding:                8px 3px;
    border-radius:          4px;  
    font-size:              18px;
}/*FIN DE CONTROLES 4 ETIQUETAS*/

#botonEnviar{    
    background-color:       #1f53c5;
    color:                  white;
    font-size:              20px;
    height:                 50px;
    width:                  200px;
    border-radius:          4px;
    border:                 1px white solid;   
    margin:                 auto;
}/*FIN DE botonEnviar*/